.white {
    font-size: 20px;
    color: white;
    transition: font-size 1s ease-in 2s;
}
#black {
    font-size: 40px;
    color: black;
}
p {
    font-size: 20;
    color: white;
}

.white:hover{
    font-size: 30px;
    color: black;
    transition: font-size 1s ease-out 2s;
}

.white::first-letter{
 text-transform: capitalize;
}
.container {
    height: 300px;
    position: relative;
    border-color: black;
    border: 2px;
}
.box {
    width: 30%;
    height: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px 10px 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
  
.login {
    position: relative;
    top: 75px;
    height: 200;
    margin-top: 50px;
    

}
.register{
    position: absolute;
    top: 0px;
    right: 0px;
    left: -10px;
    margin: 0;
    margin-left: 50%;
}